<!doctype html>
<html lang="{{ app.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }

        code {
            display: block;
            font-family: monospace;
            white-space: pre-line;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: left;
            padding: 20px;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            fortrabbit test suite
        </div>

        <p>Change me ✨</p>

        <ul class="links">
            <li><a href="info.php">PHP info</a></li>
            <li><a href="/extensions.php">Verify loaded extensions</a></li>
            <li><a href="/apcu">Fill APCu data</a></li>
            <li><a href="{{ url('/htaccess/https-redirect', null, false) }}">Test HTTPS redirect</a></li>
            <li><a href="/htaccess/domain-redirect/">Test domain redirect</a></li>
            <li><a href="/htaccess/custom-404/not-found">Test custom 404</a></li>
            <li><a href="/imagick">Test ImageMagick</a></li>
            <li><a href="/mongodb">Test connection to MongoDB</a></li>
        </ul>

        <h3>Test Workers</h3>
        <ol>
            <li>Open one of the Testrabbit Pro apps, or create a new one</li>
            <li>
                Create one nonstop job with SIGTERM - 10 sec
                <code>artisan queue:work --sleep=5</code>
            </li>
            <li>
                Create one cronjob<br>
                <code>artisan schedule:run</code>
            </li>
            <li>
                Open a tail for the worker logs to watch for output
                <code>ssh testrabbit-us1@log.us1.frbit.com tail source:worker</code>
            </li>
            <li>
                Run these ssh commands to create worker jobs
                <code>ssh testrabbit-us1@deploy.us1.frbit.com "php artisan test:job sleep -C 5"</code>
                <code>ssh testrabbit-us1@deploy.us1.frbit.com "php artisan test:job error -C 10"</code>
            </li>
        </ol>

        <h3>Test cli commands</h3>
        <code>
            # Creates two dummy job with StdOut
            php artisan test:job sleep -C 2

            # Creates 10 jobs random with StdErr + Exceptions
            php artisan test:job error -C 10

            # Creates a jobs some memory consumption (64,512MB)
            php artisan test:job memory --args=64
            php artisan test:job memory --args=512

            # Mongo connection test (deploy)
            php artisan test:mongo

            # Mongo connection test (Worker)
            php artisan test:mongo --queued

            # Handle queued jobs
            php artisan queue:work
            php artisan queue:cleanup

            # Run migrations (if any)
            php artisan migrate --force
        </code>

    </div>
</div>
</body>
</html>
