/node_modules

/public/hot
/public/storage
/public/imagick/tmp/
/public/gd/tmp

/storage/*.key
/vendor

.env
.env.backup

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode

# Ignore so install works on many different PHP versions
/composer.lock
